/* ==========================
   STYLE GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


html{
    scroll-behavior:smooth;
}



body{

    background:#f4f7fb;
    color:#222;
    line-height:1.6;

}



/* ==========================
   NAVIGATION
========================== */


nav{

    background:#0b1120;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    position:sticky;
    top:0;

    z-index:1000;

}



nav h2{

    color:#00a8ff;

}



nav ul{

    display:flex;
    list-style:none;
    gap:25px;

}



nav a{

    color:white;
    text-decoration:none;
    font-weight:bold;

    transition:0.3s;

}



nav a:hover{

    color:#00a8ff;

}






/* ==========================
   ACCUEIL
========================== */


header{

    min-height:90vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    padding:50px;

    background:
    linear-gradient(
    135deg,
    #0b1120,
    #142850
    );

    color:white;

}



header h1{

    font-size:45px;

}



header span{

    color:#00a8ff;

}



header h3{

    font-size:25px;

    margin:15px;

}



header p{

    max-width:700px;

    font-size:18px;

}





.accueil-boutons{

    margin-top:30px;

}



.accueil-boutons a{

    display:inline-block;

    margin:10px;

    padding:12px 25px;

    background:#00a8ff;

    color:white;

    text-decoration:none;

    border-radius:25px;

    transition:0.3s;

}



.accueil-boutons a:hover{

    background:white;

    color:#0b1120;

}







/* ==========================
   SECTIONS
========================== */


section{

    padding:70px 8%;

}



section h2{

    text-align:center;

    font-size:35px;

    margin-bottom:40px;

    color:#0b1120;

}






/* ==========================
   A PROPOS
========================== */


#apropos p,
#objectifs p,
#contact p{

    max-width:900px;

    margin:auto;

    text-align:center;

    font-size:18px;

}







/* ==========================
   COMPETENCES
========================== */


.competences-container{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}



.competence{

    background:white;

    width:250px;

    padding:25px;

    text-align:center;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    transition:0.3s;

}



.competence:hover{

    transform:translateY(-10px);

}



.competence h3{

    color:#0077ff;

    margin-bottom:15px;

}







/* ==========================
   PROJETS
========================== */



#projets{

    background:#eef3f8;

}



.projets-container{

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}



.projet{

    background:white;

    width:350px;

    padding:30px;

    border-radius:20px;

    box-shadow:
    0 5px 20px rgba(0,0,0,0.12);

    transition:0.3s;

}



.projet:hover{

    transform:translateY(-10px);

}



.projet h3{

    color:#0077ff;

    margin-bottom:15px;

}



.projet ul{

    margin:20px;

}



.tags{

    margin:15px 0;

}



.tags span{


    display:inline-block;

    background:#0b1120;

    color:white;

    padding:5px 12px;

    border-radius:20px;

    margin:5px;

    font-size:14px;

}






.boutons{

    margin-top:20px;

}



.boutons a{


    display:inline-block;

    background:#0077ff;

    color:white;

    text-decoration:none;

    padding:10px 15px;

    border-radius:8px;

    margin-right:10px;

    transition:0.3s;

}



.boutons a:hover{

    background:#0b1120;

}







/* ==========================
   CONTACT
========================== */


#contact{

    background:white;

}







/* ==========================
   FOOTER
========================== */


footer{


    background:#0b1120;

    color:white;

    text-align:center;

    padding:20px;

}






/* ==========================
   RESPONSIVE TELEPHONE
========================== */


@media(max-width:768px){


nav{

    flex-direction:column;

}


nav ul{

    margin-top:20px;

    flex-direction:column;

    text-align:center;

}



header h1{

    font-size:32px;

}



section{

    padding:50px 5%;

}



.projet,
.competence{

    width:100%;

}


}
/* PHOTO PROFIL */

.photo-profil{

    width:180px;

    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #00a8ff;

    margin-bottom:25px;

}
/* ==========================
   ANIMATIONS
========================== */


section,
.projet,
.competence{

    opacity:0;

    transform:translateY(40px);

    transition:0.8s;

}



.apparition{

    opacity:1;

    transform:translateY(0);

}




/* Bouton retour haut */


.top{

    position:fixed;

    bottom:30px;

    right:30px;

    width:45px;

    height:45px;

    border:none;

    border-radius:50%;

    background:#0077ff;

    color:white;

    font-size:20px;

    cursor:pointer;

    display:none;

}